body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}
#threejs-container {
  position: block;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(rgb(59, 59, 59), rgb(198, 198, 198));
  overflow: hidden;
}